

.Product_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px 2px;
    min-height: 80vh;
}

.Product_info_message {
    color: yellow;
    font-size: 0.8em;
}

.Product_cart{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.Product__img {
    min-width: 300px;
    max-width: 500px;

    min-height: 300px;
    max-height: 500px;

    margin: 4px;

    background-color: blue;
}

.Product__short-description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.short-description {
    font-size: 1.0em;   
}

.Product__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 1.5em;
}

.button_style {
    text-decoration: none;
    color: #eee;
    background-color: #111;
    border: 3px solid var(--iconColor);
    border-radius: 16px;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 1.0em;
    margin: 5px 10px;
}

.button_style:hover {
    background: var(--iconColor);
    color: #111;
}
  
.input_style{
    background-color: #111;
    color: #eee;
    font-size: 1.0em;
    margin: 8px;
}

.Product_label input {
    text-align: center;  
    border: 1px solid var(--iconColor);
    width: 100px;
} 
  

.ProductEdit_input {
    border: 1px solid var(--iconColor);
    border:0;
    outline:0;
    text-align: center; 
    background: #111;
    color: #eee;
    margin: 5px;
}

.product_name {
    font-size: 2.0em;
    font-weight: bold;
}

input.product_price {
    width: auto;
    max-width: 150px;
    font-size: 1.0em;
    font-weight: bold;
}

.ProductEdit_textarea {
    width: 95%;
    height: auto;
    text-align: center; 
    font-size: 1.0em;
    background: #111;
    color: #eee;
    border: none;
}

.Product_description {
    margin: 10px;
    text-align: left; 
}

.Product__promotion {
    align-self: self-end;
    margin-right: 15px;
}

.Product__promotion_active {
    color: yellow;
    font-weight: bold;
}

.Product__promotion_no_active {
    visibility: hidden;
}
