.ProductList__container {
    display: flex;
    flex-direction: column;
    margin-top: 10px 2px;

    min-height: 70vh;
    /* background: #500; */
}

.ProductItem__container {
    display: flex;
    flex-direction: row;
    margin: 10px 2px 0px 2px;
    border: solid 2px var(--iconColor);

    text-decoration: none;
    color: white;

    min-height: 100px;
    /* background: #020; */

}

.ProductItem__img {
    min-width: 100px;
    max-width: 300px;
    min-height: 100px;
    max-height: 200px;
    margin: 5px;
}

.ProductItem__img img{
    height: 100%;
    width: auto;
}

.ProductItem__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    /* background-color: #082; */
}

.ProductItem__text .productName{
    font-size: 1.3em;
    margin:10px;
}

.ProductItem__info {
    /* align-self: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 100px;
    /* background: #00F; */
}

.ProductItem__promocja {
    font-size: 0.5em;
    margin:2px;
    font-weight: bold;
    color: yellow;
}

.ProductItem__info-price {
    margin:5px;

    /* background: #006; */
}

.ProductItem__info-availability {
    font-size: 0.6em;
    margin:5px;

    /* background: #004; */
}

