.Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: center;

    /* height: 200px; */
    width: auto;
    z-index: 101;

    background: rgba(16, 16, 16, 0.7);
}

.Header .logo {
    min-width: 250px;
    align-self: baseline;
}

.Header .search {
    width: 200px;
    background: #046;
    flex-grow: 1;
}

.Header .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #846;
    min-width: 250px;
}

.Header .controls .contact {
    background: #896;
    min-width: 0px;

}

.Header .controls .basket {
    background: #806;
    min-width: 0px;

}

.Header .controls .login {
    background: #80F;
    min-width: 0px;

}