.Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: center;

    /* height: 200px; */
    width: auto;
    z-index: 101;

    background: rgba(16, 16, 16, 0.7);
}

.Header .logo {
    min-width: 250px;
    align-self: baseline;
}

.Header .search {
    width: 200px;
    flex-grow: 1;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 0.1em 16px;

}

.Header .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    min-width: 250px;
}



.Header .controls .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0px;
    font-size: 0.5em;
    padding: 3px;

    /* background: #896; */
}

.Header .controls .description {
    min-width: 40px;
    /* max-width: 200px; */
    margin: 4px;

    /* width: 90px; */
}

.Header .controls .contact {
    /* background: #896; */
    min-width: 0px;
}

.Header .controls .basket {
    /* background: #806; */
    min-width: 0px;
}

.Header .controls .login {
    /* background: #80F; */
    min-width: 0px;

}