.Flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.Flex_column {
    display: flex;
    flex-direction: column;
}
