:root {
  --iconColor: #581764;
}

#root {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #101010;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: space-between;
  
  max-width: 1200px;
  min-height: 100vh;
  background-color: #111;
  
  text-align: center;
  color: white;
  font-size: calc(14px + 1vW);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 250px;
  background: #111;
}