.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: space-between;
  
  max-width: 1200px;
  min-height: 100vh;
  background-color: #111;
  
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 1500px;
  background: #111;
}